@charset "UTF-8";
.footer-logo-img {
	margin-right: -10px; 
}
.custom-footer {
  width: 100%;
  background: #ebfaf3;
  color: #444;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.05);
  padding: 15px 0;
  margin-top: auto; 
}

.container {
	max-width: auto;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left {
  font-size: 1.1rem;
  color: #2d3e36; 
  display: flex;
  align-items: center;
}

.footer-left img {
  filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.8));
}

.footer-right {
  font-size: 0.9rem;
  letter-spacing: -0.5px;
  color: #777;
  font-weight: 400;
}
