@charset "UTF-8";

.custom-footer {
  width: 100%;
  background: #ebfaf3 !important;
  border-top: 1px solid rgba(120, 194, 173, 0.2);
  
}

.footer-left {
  color: #2d3e36;
  font-size: 1.1rem;
}

.footer-logo-img {
  filter: drop-shadow(0 0 2px rgba(255,255,255,0.5));
}

.footer-logo-fit {
  margin-right: -8px; 
}

.footer-right {
  letter-spacing: -0.5px;
  flex-grow: 1;
  text-align: right;
}

@media (max-width: 768px) {
  .custom-footer .container {
    text-align: center;
  }
}