body {
  padding-top: 70px; 
}

.navbar {
	background-color: #ebfaf3;
	border-bottom: 1px solid #c1e7d8;
  height: 70px;
  display: flex;
  align-items: center;
}

.navbar > .container-fluid {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center;
  padding: 0 2rem;
}

/* 로고 */
.navbar-brand {
	color: #2d3e36;
}

.logo-img {
  width: 40px;
  height: 40px;
  object-fit: contain; 
  flex-shrink: 0; 
  margin-right: -13px; 
}

/* 메뉴 */
.navbar-collapse {
  flex: 2; 
  display: flex !important;
  justify-content: center !important;
  margin-left: 200px;
}

.navbar-nav.me-auto {
  margin-right: 0 !important; 
  display: flex;
  flex-direction: row;
  gap: 20px;
}

/* 유저 메뉴 */
.nav-right-group {
  flex: 1; 
  display: flex;
  justify-content: flex-end; 
}

.nav-right-group .navbar-nav {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

.navbar .nav-link {
  color: #1a2b25; 
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
}

/* 캘린더 모달 스타일 */
.fc-header-toolbar {
  margin-top: 60px !important;
}

#calendarModal {
  background-color: rgba(255, 192, 203, 0.2);
  overflow: hidden;
}

#calendarModal .modal-content {
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 0 12px rgba(0,0,0,0.15);
  text-align: center;
  max-height: 80vh;
  overflow-y: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 캘린더 버튼 */
.fc .fc-button {
  background-color: #ffb6c1;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 8px;
}

.fc .fc-button:hover {
  background-color: #ff8da7;
}

.fc .fc-button.fc-button-active {
  background-color: #ff69b4;
  border: none;
}

.fc-toolbar-title {
  color: #e75480;
  font-size: 24px;
  font-weight: bold;
}

.fc-daygrid-day:hover {
  background-color: #ffe4e9;
}

.fc-day-today {
  background-color: #ffeef2 !important;
  border: 1px solid #ffb6c1 !important;
}

.calendar-toggle {
  position: fixed;
  top: 60px;
  right: 20px;
  z-index: 1500;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

.calendar-toggle a {
  border: none;
  text-decoration: none;
  outline: none;
  font-size: 20px;
}

.calendar-toggle p {
  font-size: 12px;
  margin-top: -3px;
  color: black;
}

.calendar-toggle p:hover {
  color: darkgray;
}

#calendar-full {
  width: 100%;
  height: 100%;
  min-height: 500px;
}

#scheduleModal {
  z-index: 3000 !important;
}

.modal-backdrop {
  z-index: 2500 !important;
}

#todoList, #schedule-container {
  text-align: left;
  padding-left: 20px;
  margin: 0 auto;
  max-width: 600px;
}

.calendar-custom-modal {
  background: #fff0f5;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 0 12px rgba(0,0,0,0.15);
  text-align: center;
  max-height: 80vh;
  overflow-y: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 1000px;
}